In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import glob

In [7]:
# Read all csv files 
df = pd.read_csv("final_airlines_data.csv")
df

,Unnamed: 0,Flight Date,Carrier,ORIGIN,DEST,DEP_DELAY_NEW,ARR_DELAY_NEW,FLIGHTS,WEATHER_DELAY
0,0,2017-01-01,DL,IAH,ATL,91.0,79.0,1.0,0.0
1,1,2017-01-02,DL,IAH,ATL,222.0,230.0,1.0,0.0
2,2,2017-01-02,DL,IAH,ATL,19.0,27.0,1.0,0.0
3,3,2017-01-02,DL,IAH,ATL,3.0,50.0,1.0,0.0
4,4,2017-01-02,DL,IAH,ATL,69.0,60.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
2147,2147,2020-04-09,DL,IAH,ATL,1.0,59.0,1.0,0.0
2148,2148,2020-04-09,DL,IAH,SLC,0.0,27.0,1.0,0.0
2149,2149,2020-04-12,DL,IAH,ATL,41.0,23.0,1.0,0.0
2150,2150,2020-04-14,DL,IAH,SLC,6.0,32.0,1.0,0.0
2151,2151,2020-04-19,DL,IAH,ATL,23.0,16.0,1.0,0.0

In [10]:
# df2 = pd.read_csv("data.csv")
# df2

,Unnamed: 0,Flight Date,Carrier,ORIGIN,DEST,DEP_DELAY_NEW,ARR_DELAY_NEW,FLIGHTS,WEATHER_DELAY
0,0,2017-01-01,DL,IAH,ATL,91.0,79.0,1.0,0.0
1,1,2017-01-02,DL,IAH,ATL,222.0,230.0,1.0,0.0
2,2,2017-01-02,DL,IAH,ATL,19.0,27.0,1.0,0.0
3,3,2017-01-02,DL,IAH,ATL,3.0,50.0,1.0,0.0
4,4,2017-01-02,DL,IAH,ATL,69.0,60.0,1.0,0.0

In [ ]:
df2 = df.rename(columns = {0:"Date",1:"Airline",2:"Origin_Airport",3:"Origin_City",4:"Destination_Airport"
                     ,5:"Destination_City",6:"Delay_Time",7:"Cancelled"})